@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Poppins:wght@300;400;500;600&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=My+Soul&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
    height: 100vh;
    background-color: #efede6;
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 80%;
    gap: 1rem;
}

.main-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
    border-radius: 10px;
    padding: 24px;
}

.logo-text{
    font-family: 'My Soul', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.main-menu .menu-links ul li{
    display: inline-block;
    margin: 0 12px 0 12px;
    cursor: pointer;
}

.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.hero-img img{
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.hero-text{
    width: 40%;
}

.hero-text h2{
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 1rem;
}

.hero-text p{
    font-size: 18px;
    margin-bottom: 1rem;
}

.hero-btn{
    border: none;
    padding: 10px;
    background-color: #313436;
    color: #efede6;
    cursor: pointer;
}

.facts-section{
    background: #313436;
    color: #efede6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 1rem;
}

.facts-numbers{
    font-size: 3rem;
}

.services-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-section h2{
    margin-bottom: 2rem;
}

.cards{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.service-card{
    border: #313436 1px solid;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    margin-bottom: 1rem;
    text-align: center;
}

.card-icon{
    font-size: 3rem;
}

.footer-section{
    padding: 1rem;
    text-align: center;
}